%h1= @forum.name

- if can? :create, Topic
  .pull-right
    = link_to 'New Topic', new_forum_topic_path(@forum)
    - if can? :manage, Forum
      \|
      = link_to 'Edit Forum', edit_forum_path(@forum)

%table.table.table-striped.table-bordered
  %tr
    %th Topics
    %th Author
    %th Replies
    %th Views
    %th Last Post
  - @topics.each do |topic|
    %tr
      %td= link_to topic.title, [@forum, topic]
      %td= topic.user.username
      %td= topic.posts.count
      %td= topic.views
      %td= l(topic.last_post.created_at, format: :medium) rescue "---"

= will_paginate @topics
