= simple_form_for([@forum, @topic], html: {class: "form-horizontal"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.simple_fields_for :posts, @post do |posts_form|
      = posts_form.input :content, input_html: {rows: 20}

  .form-actions
    = f.button :submit
