%h1 Listing topics

%table
  %tr
    %th Forum
    %th Title
    %th User
    %th Views
    %th
    %th
    %th

  - @topics.each do |topic|
    %tr
      %td= topic.forum_id
      %td= topic.title
      %td= topic.user_id
      %td= topic.views
      %td= link_to 'Show', topic
      %td= link_to 'Edit', edit_topic_path(topic)
      %td= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Topic', new_topic_path
