= simple_form_for([@forum, @topic, @post]) do |f|
  = f.error_notification

  .form-inputs
    = render "application/wysihtml"
    = f.input :content, :input_html => {id: "wysihtml5-textarea", autofocus: true}

  .form-actions
    = f.button :submit